body {
 margin: 0;
 padding: 0;
 background: #ccc;
 }
 nav#topmenu ul {
 list-style: none;
 background-color: #444;
 text-align: center;
 padding: 0;
 margin: 0;
 }
  nav#topmenu li {
 font-size: 24px;
 line-height: 40px;
 height: 40px;
 display: inline-block;
 padding: 20px;
 margin-right: 20px;
  }
 nav#topmenu a {
 text-decoration: none;
 color: #fff;
 }
 section {
 margin-left: 20px;
 }
 h1 {
 font-size: 28px;
 }
 header > p {
 font-style: italic;
 }
article > p {
 font-size: 24px;
 }
 footer {
    position: fixed;
    text-align: center;
    background-color: cornflowerblue;
    color:#fff;
    left: 0;
    right: 0;
    width: 100%;
    bottom: 0;
 }